# template

# List of programs to install
# 
# installer: 
# aliases: optional aliases to crosscheck for install. EG neovim -> nvim 
programs:
  - package: git
    installer: apt-get
    aliases: [] 
  - package: neovim
    installer: apt-get
    aliases: [nvim] 
  # - package: loss
  #   installer: apt-get
  #   aliases: [l1,l2, l3] 




others:
  - elements: something

# leave this trailing comment for the parser