# Custom personal config files used by my installation scripts
# TODO use another template (.chezmoitemplates) to refactor the multiple duplicates

# List of programs to install
# installer: 
# aliases: optional aliases to crosscheck for install. EG neovim -> nvim 
programs:
  # Development Tools
  - package: git
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
      apt-get
    {{- end }}
    aliases: []
{{- if eq .chezmoi.os "darwin" }}
  # xcode should cover most of the required clitools
  # use development on Linux env if need be
  - package: llvm
    installer: brew
    aliases: [clang]  
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
  - package: build-essential
    installer: apt-get
    aliases: [gcc, make, g++]
  - package: clang
    installer: apt-get
    aliases: []
  - package: valgrind
    installer: apt-get
    aliases: []
{{- end }}

  # Languages
  - package: python3
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
      apt-get
    {{- end }}
    aliases: []
  # JS 
  - package: nodejs
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
     apt
    {{- end }}
    aliases: []
  - package: npm
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
     apt
    {{- end }}
    aliases: []
  # TODO dotnet SDK and runtimes
  # TODO java SDK and runtimes

  # Productivity Tools
  - package: neovim
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
      apt-get
    {{- end }}
    aliases: [nvim]  
  - package: tmux
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
      apt-get
    {{- end }}
    aliases: []
  - package: tree
    installer: {{ if eq .chezmoi.os "darwin" -}}
      brew
    {{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
      apt-get
    {{- end }}
    aliases: []
  # open source vpn client, compatible with fortinet vpns
  - package: openfortivpn
    installer: apt-get
    aliases: []
  # dotfile manager
  - package: chezmoi
    installer: brew
    aliases: []
  # clipboard piping tool
{{- if eq .chezmoi.os "darwin" }} 
  # pbcopy should be installed?
{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
  - package: xclip
    installer: apt
    aliases: []
{{ end -}}
# VSCode installation
{{ if not (eq (substr (int (sub (len .chezmoi.kernel.osrelease) 4)) (len .chezmoi.kernel.osrelease) .chezmoi.kernel.osrelease) "WSL2")}}
  # Do not install on WSL, it should instead use windows native version, and pipe it to WSL.
  # Only (x86_64 linux OR Darwin) - Homebrew installation
  {{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.osRelease.id "ubuntu") (or (eq .chezmoi.arch "x86_64") (eq .chezmoi.arch "amd64")))) }}
  - package: visual-studio-code
    installer: brew
    aliases: [code]
    # TODO maybe include a Docker auto setup as well
  {{ end }}
{{- else -}}
# unsupported platform, skipping VSCode
{{ end }}

workflow:
  - ide: code

# leave this trailing comment for the parser